

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#container {
  display: flex;
  height: 100vh;
  background: #020617;
}

/* MAP */
#map {
  flex: 3;
}

/* SIDEBAR */
#sidebar {
  flex: 1.3;
  background: linear-gradient(180deg, #020617, #020617);
  color: #e5e7eb;
  padding: 20px;
  overflow-y: auto;
  border-left: 2px solid #1e293b;
}

/* TITLE */
#state-title {
  font-size: 22px;
  color: #38bdf8;
  margin-bottom: 20px;
  text-align: center;
}

/* GRID */
.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 20px;
}

.info-grid div {
  background: #020617;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.info-grid span {
  font-size: 12px;
  color: #94a3b8;
}

.info-grid p {
  font-size: 15px;
  font-weight: 600;
  color: #f8fafc;
}

/* CARDS */
.card {
  background: #020617;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 16px;
  animation: fadeUp 0.4s ease;
}

.card h3 {
  font-size: 16px;
  color: #60a5fa;
  margin-bottom: 6px;
}

.card p {
  font-size: 14px;
  color: #e5e7eb;
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-top: 8px;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.card img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(56,189,248,0.4);
}

/* HINT */
.hint {
  text-align: center;
  font-size: 13px;
  color: #94a3b8;
  margin-top: 20px;
}

/* ANIMATIONS */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.6s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
